1. Tokenize
2. TF-IDF
3. Get the scores fot sentences by counting non zero rows from tfidf matrix
4. Sort this scores and get first 10

In [ ]:
#get data
!wget -nc https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv

--2023-07-19 13:27:52--  https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv
Resolving lazyprogrammer.me (lazyprogrammer.me)... 104.21.23.210, 172.67.213.166, 2606:4700:3030::ac43:d5a6, ...
Connecting to lazyprogrammer.me (lazyprogrammer.me)|104.21.23.210|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2023-07-19 13:27:52 ERROR 403: Forbidden.

In [ ]:
#import
import pandas as pd
import numpy as np

import textwrap
import nltk

from nltk.corpus import stopwords
from nltk import word_tokenize

from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
text = pd.read_csv('bbc_text_cls.csv')
df=pd.DataFrame(text)
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [ ]:
featurizer = TfidfVectorizer(stop_words=stopwords.words('english'), norm='l1')
#l1 norm sum of the vectors as well as manhattan distance
#none is no normaliziation

In [ ]:
def get_sentence_score(tfidf_row):

  x = tfidf_row[tfidf_row != 0]
  return x.mean()

In [ ]:
def wrap(x):
  return textwrap.fill(x, replace_whitespace=False, fix_sentence_endings=True)
'''Функция wrap() модуля textwrap разбивает один абзац text по строкам так,
что каждая строка имеет не более width символов длиной. Возвращает список строк,
без завершающего символа новой строки \n.'''

'Функция wrap() модуля textwrap разбивает один абзац text по строкам так,\nчто каждая строка имеет не более width символов длиной. Возвращает список строк,\nбез завершающего символа новой строки \n.'

In [ ]:
def summarize (input):
  tokened = nltk.sent_tokenize(input)

  tf_idf = featurizer.fit_transform(tokened)

  scores=np.zeros(len(tokened))

  for i in range(len(tokened)):
    score = get_sentence_score(tf_idf[i,:]) #We index the tfidf m by grabbing the ith row and passing this into the
     #function called to get_sentence score.


    scores[i]=score

  sort_idx = np.argsort(-scores) #descending order. get only indexes

  for i in sort_idx[:10]:
    print(wrap("%.2f: %s" % (scores[i], tokened[i])))

In [ ]:
doc = df[df.labels == 'entertainment']['text'].sample(random_state=23)
summarize(doc.iloc[0].split("\n", 1)[1])

0.08:
Film comedy Meet The Fockers, sequel to Meet The Parents, has
topped the US box office for a third week.
0.08: Michael Keaton thriller White Noise was second with $24m
(£12.8m) despite negative reviews.
0.08: It is also the ninth Jim Carrey film to hit the $100m (£53.2m)
mark, according to Exhibitor Relations.
0.07: Martin Scorsese's Howard Hughes biopic The Aviator came third
with $7.6m (£4m) and a total of $42.9m (£22.8m).
0.05: Children's adventure Lemony Snicket's A Series of Unfortunate
Events, starring Jim Carrey and Meryl Streep, fell two places to
fourth position with $7.4m (£3.9m).
0.05: The Incredibles took $300m (£160m) outside the US, while Meet
the Fockers topped box office charts in Australia and Mexico with non-
US takings of $19.35m (£10.2m).
0.05: And Fat Albert, a live-action adaptation of Bill Cosby's TV
cartoon, fell one place to number five, with takings over the three
days beginning on Friday of $5m (£2.6m).
0.05: The movie, which stars Ben Stiller, Robert De Niro, Dustin
Hoffman and Barbra Streisand, took $28.5m (£15.2m), making a total of
204.3m (£109m).
0.05: Ocean's Twelve took sixth place in the US chart with $5.4m
(£2.8m), but it led the non-US chart at the weekend, according to
Hollywood Reporter, with an estimated $17.7m (£9.4m) and total takings
of $137m (£73m).

In [ ]:
doc.iloc[0].split("\n",1)[0]

'Fockers keeps US box office lead'

In [ ]:
print(wrap(doc.iloc[0]))

Fockers keeps US box office lead

Film comedy Meet The Fockers, sequel
to Meet The Parents, has topped the US box office for a third week.
The movie, which stars Ben Stiller, Robert De Niro, Dustin Hoffman and
Barbra Streisand, took $28.5m (£15.2m), making a total of 204.3m
(£109m). Michael Keaton thriller White Noise was second with $24m
(£12.8m) despite negative reviews.  Martin Scorsese's Howard Hughes
biopic The Aviator came third with $7.6m (£4m) and a total of $42.9m
(£22.8m). Children's adventure Lemony Snicket's A Series of
Unfortunate Events, starring Jim Carrey and Meryl Streep, fell two
places to fourth position with $7.4m (£3.9m).

It is also the ninth
Jim Carrey film to hit the $100m (£53.2m) mark, according to Exhibitor
Relations.  And Fat Albert, a live-action adaptation of Bill Cosby's
TV cartoon, fell one place to number five, with takings over the three
days beginning on Friday of $5m (£2.6m). Ocean's Twelve took sixth
place in the US chart with $5.4m (£2.8m), but it led the non-US chart
at the weekend, according to Hollywood Reporter, with an estimated
$17.7m (£9.4m) and total takings of $137m (£73m). The Incredibles took
$300m (£160m) outside the US, while Meet the Fockers topped box office
charts in Australia and Mexico with non-US takings of $19.35m
(£10.2m).

In [ ]:
doc.iloc[0]

"Fockers keeps US box office lead\n\nFilm comedy Meet The Fockers, sequel to Meet The Parents, has topped the US box office for a third week.\n\nThe movie, which stars Ben Stiller, Robert De Niro, Dustin Hoffman and Barbra Streisand, took $28.5m (£15.2m), making a total of 204.3m (£109m). Michael Keaton thriller White Noise was second with $24m (£12.8m) despite negative reviews. Martin Scorsese's Howard Hughes biopic The Aviator came third with $7.6m (£4m) and a total of $42.9m (£22.8m). Children's adventure Lemony Snicket's A Series of Unfortunate Events, starring Jim Carrey and Meryl Streep, fell two places to fourth position with $7.4m (£3.9m).\n\nIt is also the ninth Jim Carrey film to hit the $100m (£53.2m) mark, according to Exhibitor Relations. And Fat Albert, a live-action adaptation of Bill Cosby's TV cartoon, fell one place to number five, with takings over the three days beginning on Friday of $5m (£2.6m). Ocean's Twelve took sixth place in the US chart with $5.4m (£2.8m), but it led the non-US chart at the weekend, according to Hollywood Reporter, with an estimated $17.7m (£9.4m) and total takings of $137m (£73m). The Incredibles took $300m (£160m) outside the US, while Meet the Fockers topped box office charts in Australia and Mexico with non-US takings of $19.35m (£10.2m)."